EXPO_PUBLIC_API_BASE_URL=http://192.168.1.100:5000
EXPO_PUBLIC_GOOGLE_CLIENT_ID=google-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_FACEBOOK_APP_ID=123456789012345
EXPO_PUBLIC_FACEBOOK_IOS_APP_ID=
EXPO_PUBLIC_FACEBOOK_ANDROID_APP_ID=
EXPO_PUBLIC_FACEBOOK_WEB_APP_ID=
